<nav class="navbar">
  <div class="nav-container">

    <a class="logo" href="#home">
      Anshika<span>.</span>dev
    </a>

    <div class="nav-links">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <a href="#projects">Projects</a>
      <a href="#experience">Experience</a>
      <a href="#ai">AI Assistant</a>

      <a class="resume-btn" href="assets/data/resume/AnshikaGupta_Resume.pdf" target="_blank">
        Resume
      </a>
    </div>

  </div>
</nav>